<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
		<typeAlias alias="User" type="com.example.demo.member.domain.User"/>
		<typeAlias alias="Notice" type="com.example.demo.board.domain.Notice"/>
        <typeAlias alias="NoticeFile" type="com.example.demo.board.domain.NoticeFile"/>
    </typeAliases>
    <mappers>
		<mapper resource="mybatis/mapper/memberMapper.xml"/>
    	<mapper resource="mybatis/mapper/boardMapper.xml"/>
    </mappers>
</configuration>